.my-grid {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto 150px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 5px solid #000000;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38;
}